<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<div>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div>
      <input type="text" class="form-control" id="taskName" placeholder="Task name" required
                    [(ngModel)]="modelTaskName" name="taskName" #taskName="ngModel"> 
    </div>

    <button type="submit" [disabled]="!userForm.form.valid">
      Add Task
    </button>
  </form>
  <div>
    <button type="button" (click)="getTasks()">
      Get Tasks
    </button>    
  </div>

  <div>      
    <ng-container *ngFor="let task of tasks">
        <div class="teacher-list-schedule__card">
          <div class="teacher-list-schedule__card-content">
            <div class="teacher-list-schedule__card-item">
                <span class=""><b>{{task.task}}</b></span>                                
            </div>
          </div>
        </div>      
    </ng-container>
  </div>